{% extends "admin-layout.html" %}	

{% block title %}
افزودن دستهجدید
{% endblock %}

{% load humanize %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
<style type="text/css">
row-admin {
	background-color: #ffffff;
}
</style>
{% endblock %}

{% block content %}
<!-- start -->
<script type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}"></script>
<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title" style="font-size: 30px">افزودن دسته جدید</h1>
	</div>
	
	<div class="panel-body">
		{% if success %}
		<p class="text-success">دسته با موفقیت افزوده شد.</p>
		{% endif %}
		
		<form name="" action="" method="POST">
			{% csrf_token %}
			
			{{ category_form.non_field_errors }}
			
			{% for field in category_form %}
			<div class="row" style="background-color: #ffffff; margin: 0px;">
				<div class="col-md-2" style="padding: 5px">{{ field.label }}</div>
				<div class="col-md-5">{{ field }}</div>
				<div class="col-md-5 error">{{ field.errors }}</div>
			</div>
			{% endfor %}
			
			{% if success %}
			<a href="/bo-admin/categories/" class="btn btn-primary btn-block" type="submit" style="width: 200px;">بازگشت</a>
			{% else %}
			<button id="submit-new-category" class="btn btn-primary btn-block" type="submit" style="width: 200px;">ثبت</button>
			{% endif %}
		</form>
	</div>
</div>
<!-- end -->
{% endblock %}
