	<!DOCTYPE html>
	<html>
	<head>
		<title>افزودن رویداد جدید</title>
		{% load humanize %}
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "styles/bootstrap-rtl.min.css" %}" />
		<link rel="stylesheet" href="{% static "styles/farsi-fonts.css" %}">
		<link rel="stylesheet" href="{% static "styles/mcustom.css" %}" />
		<link rel="stylesheet" href="{% static "styles/slick.css" %}" />
		<link rel="stylesheet" href="{% static "styles/slick-theme.css" %}" />
		<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
		{% block style %}
		<style type="text/css">
			row-admin {
				background-color: #ffffff;
			}
		</style>
		{% endblock %}
	</head>
	<body>
		<!-- start -->
		<script type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}"></script>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title" style="font-size: 30px">افزودن رویداد جدید</h1>
			</div>
			<div class="panel-body">
				{% if success %}
					<p class="text-success">رویداد با موفقیت افزوده شد.</p>
				{% endif %}
				<form name="" action="" method="POST">
				{% csrf_token %}

				{% for field in form %}
					<div class="row" style="background-color: #ffffff; margin: 0px;">
						<div class="col-md-2" style="padding: 5px">{{ field.label }}</div>
						<div class="col-md-5">{{ field }}</div>
						<div class="col-md-5 error">{{ field.errors }}</div>
					</div>
			      {% endfor %}
			      		    
			      <table border="0" cellpadding="0" cellspacing="0">
			        <tbody>
			            {% for form in formset.forms %}
			            <tr>
			               <td>
			                  {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
			                  {{ form.ticket_type }}
			               </td>
			               <td>{{ form.ticket_price }}</td>
			               <td>{{ form.total_capacity }}</td>
			            </tr>
			            {% endfor %}
			        </tbody>
			    </table>
			      
				  {% if success %}
			      	<a href="/bo-admin/events/" class="btn btn-primary btn-block" type="submit" style="width: 200px;">بازگشت</a>
			      {% else %}
			      	<button id="submit-new-event" class="btn btn-primary btn-block" type="submit" style="width: 200px;">ثبت</button>
			      {% endif %}
				
				{{ formset.management_form }}
			    </form>
			</div>
		</div>
		<!-- end -->
	<script type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/slick.min.js" %}"></script>
					<script type="text/javascript" src="{% static "scripts/jquery.formset.min.js" %}"></script>
					<script type="text/javascript">
					    $(function() {
        $('form tbody tr').formset({
            prefix: '{{ formset.prefix }}'
        });
    })
					</script>
				
	</body>
</html>