<<!DOCTYPE html>
<html>
<head>
	<title>حذف رویدادها</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}" />
	<link rel="stylesheet" href="{% static "styles/bootstrap-rtl.min.css" %}" />
	<link rel="stylesheet" href="{% static "styles/farsi-fonts.css" %}">
	<link rel="stylesheet" href="{% static "styles/mcustom.css" %}" />
	<link rel="stylesheet" href="{% static "styles/slick.css" %}" />
	<link rel="stylesheet" href="{% static "styles/slick-theme.css" %}" />
</head>
<body>

	<div class="panel panel-default">
		<div class="panel-body">
			salam
		</div>
	</div>

	<script type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/slick.min.js" %}"></script>
</body>
</html>