<!DOCTYPE html>
<html dir="rtl">
	<head>
		<meta charset="UTF-8">
		<title>
			خروج
		</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "styles/bootstrap-rtl.min.css" %}" />
		<link rel="stylesheet" href="{% static "styles/farsi-fonts.css" %}">
	</head>
<body>
	<section class="col-md-10 col-md-offset-1 main" style="padding: 0; border: none">
		<nav class="navbar navbar-inverse navbar-default col-md-10 col-md-offset-1 hidden-print">
		<h1 style="color: #fff; padding: 10px; margin-top: 10.5px;">از بخش مدیریت خارج شدید.</h1>
		<div class="container-fluid">
			<div class="navbar-header">

			</div>
		</div>
	</nav>
		{% block content %}
		<div class="panel panel-defaulf col-md-6 col-md-offset-3">
			<h4>در صورتی که مایل هستید، نگاهی به <a href="/">گیشه</a> بیندازید.</h4>
		</div>
		{% endblock %}
	</section>
	<script type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/bootstrap.min.js" %}"></script>
	</body>
</html>
