<!DOCTYPE html>
<html>
<head>
<title>مدیریت رویدادها</title>
{% load humanize %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}" />
<link rel="stylesheet" href="{% static "styles/bootstrap-rtl.min.css" %}" />
<link rel="stylesheet" href="{% static "styles/farsi-fonts.css" %}">
<link rel="stylesheet" href="{% static "styles/mcustom.css" %}" />
<link rel="stylesheet" href="{% static "styles/slick.css" %}" />
<link rel="stylesheet" href="{% static "styles/slick-theme.css" %}" />
<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
{% block style %}
<style type="text/css">
	row-admin {
		background-color: #ffffff;
	}
</style>
{% endblock %}
</head>
<body>
<!-- start -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title" style="font-size: 30px">مدیریت رویدادها</h1>
	</div>
	<div class="panel-body">
		<form method="POST">
			{% csrf_token %}
			<table class="table" style="border-collapse: collapse">
				<thead style="font-size: 20px">
					<th>عنوان رویداد</th>
					<th>دسته</th>
					<th>زیردسته</th>
					<th>محل برگزاری</th>
					<th>میانگین امتیاز</th>
					<th>زمان برگزاری</th>
					<th>مهلت خرید</th>
					<th>زمان ثبت</th>
				</thead>
				<tbody>
					{% for event in events %}
					<tr style="font-size: 15px;">
						<td style="padding-top: 10px; ">
							<input type="checkbox" name="todelete" value="{{ event.id }}" class="col-md-1 col-sm-3 col-xs-4" style="margin: 0 auto; width: 15px; height: 15px" />
							<p class=""><a href="/bo-admin/events/{{ event.id }}/delete/"><span class="glyphicon glyphicon-trash text-danger" style="margin-left: 6px" data-toggle="tooltip" title="ویرایش"></span></a><a href="/bo-admin/events/{{ event.id }}/edit/"><span class="glyphicon glyphicon-pencil text-info" style="margin-left: 6px" data-toggle="tooltip" title="ویرایش"></span></a>{{ event.event_title }}</p>
						</td>
						<td style="padding-top: 10px">{{ event.category }}</td>
						<td style="padding-top: 10px">{{ event.subcategory }}</td>
						<td style="padding-top: 10px">{{ event.event_place }}</td>
						<td style="padding-top: 10px">{{ event.event_avg_rate }}</td>
						<td style="padding-top: 10px">{{ event.event_date }}</td>
						<td style="padding-top: 10px">{{ event.event_deadline|naturaltime }}</td>
						<td style="padding-top: 10px">{{ event.submit_date|naturaltime }}</td>
					</tr>
					{% endfor %}
				</tbody></table>
				<input type="submit" value="حذف انتخاب شده‌ها" class="btn btn-danger" />
			</form>
		</div>
	</div>
	<!-- end -->
	<script type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/slick.min.js" %}"></script>
</body>
</html>