<!DOCTYPE html>
<html>
<head>
<title>مدیریت زیردسته‌ها</title>
{% load humanize %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}" />
<link rel="stylesheet" href="{% static "styles/bootstrap-rtl.min.css" %}" />
<link rel="stylesheet" href="{% static "styles/farsi-fonts.css" %}">
<link rel="stylesheet" href="{% static "styles/mcustom.css" %}" />
<link rel="stylesheet" href="{% static "styles/slick.css" %}" />
<link rel="stylesheet" href="{% static "styles/slick-theme.css" %}" />
<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
{% block style %}
<style type="text/css">
row-admin {
	background-color: #ffffff;
}
</style>
{% endblock %}
</head>
<body>
<!-- start -->
<div class="panel panel-default">
<div class="panel-heading">
	<h1 class="panel-title" style="font-size: 30px">مدیریت زیردسته‌ها</h1>
</div>
<div class="panel-body">
	<form method="POST">
		{% csrf_token %}
		<table class="table" style="border-collapse: collapse">
			<thead style="font-size: 20px">
				<th class="text-right" colspan="10px"></th>
				<th class="text-right" colspan="30px">عنوان زیردسته</th>
				<th class="text-right" colspan="30px">دسته‌ی مربوطه</th>
			</thead>
			<tbody>
				{% for subcat in subcategories %}
				<tr style="font-size: 15px;">
					<td class="text-right" colspan="10px">
						<input type="checkbox" name="todelete" value="{{ subcat.id }}" class="col-md-1 col-sm-3 col-xs-4" style="margin: 0 auto; width: 15px; height: 15px" />
					</td>
					<td class="text-right" style="padding-top: 10px; " colspan="30px">
						<p class=""><a href="/bo-admin/subcategories/{{ subcat.id }}/delete/"><span class="glyphicon glyphicon-trash text-danger" style="margin-left: 6px" data-toggle="tooltip" title="حذف"></span></a><a href="/bo-admin/subcategories/{{ subcat.id }}/edit/"><span class="glyphicon glyphicon-pencil text-info" style="margin-left: 6px" data-toggle="tooltip" title="ویرایش"></span></a>{{ subcat.subcategory_name }}</p>
					</td>
					<td class="text-right" style="padding-top: 10px" colspan="30px">{{ subcat.category.category_name }}</td>
				</tr>
				{% endfor %}
			</tbody></table>
			<input type="submit" value="حذف انتخاب شده‌ها" class="btn btn-danger" />
		</form>
	</div>
</div>
<!-- end -->
<script type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/slick.min.js" %}"></script>
</body>
</html>