{% extends "admin-layout.html" %} 

{% block title %}
همه‌ی سفارش‌ها
{% endblock %}

{% load humanize %}
{% load staticfiles %}

{% block content %}
<!-- start -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title" style="font-size: 30px">همه سفارش‌ها</h1>
    <ul class="list-inline" style="margin: 5px;">
      <!-- start filter form -->
      <li>
        <form class="navbar-form navbar-left" role="search" action="/bo-admin/report/orders/all/search/" method="GET" style="padding: 0; margin-top: 15px; margin-bottom: 0">
          <div class="form-group">
            <ul class="list-inline">
              {% if error %}<li style="display: block; margin-bottom: 10px" class="text-danger">{{ error }}</li>{% endif %}
              <li><label for="start">از: <input type="date" data-date="" data-date-format="DD MMMM YYYY" name="start" class="form-control" placeholder="از تاریخ"></label></li>
              <li><label for="end">تا: <input type="date" name="end" class="form-control" placeholder="تا تاریخ"></label></li>
              <li><button type="submit" class="btn btn-default">فیلتر</button></li>
            </ul>
          </div>
        </form>
      </li>
      <!-- end filter form -->
    </ul>
  </div>

  <div class="panel-body">
    <form method="POST">
      {% csrf_token %}
      <table class="table table-striped table-bordered table-hover" style="border-collapse: collapse; margin-top: 2px; margin-bottom: 20px;min-width: 400px;">
        <thead style="font-size: 15px; background-color: #ecf0f1">
          <th class="text-right">کاربر</th>
          <th class="text-right">عنوان رویداد</th>
          <th class="text-right">قیمت کل</th>
          <th class="text-right">تاریخ سفارش</th>
          <th class="text-right">شماره سفارش</th>
        </thead>
        <tbody style="text-align: right">
          {% for order in orders %}
          <tr style="font-size: 15px;">
            <td class="text-right" style="padding-top: 10px; vertical-align: middle">{{ order.member.user.username }}</td>
            <td class="text-right" style="padding-top: 10px; vertical-align: middle">{{ order.event.event_title }}</td>
            <td class="text-right" style="padding-top: 10px; vertical-align: middle;">{{ order.total_price }}</td>
            <td class="text-right" style="padding-top: 10px; vertical-align: middle;">{{ order.order_date }}</td>
            <td class="text-right" style="padding-top: 10px; vertical-align: middle">{{ order.purchase_code }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="حذف انتخاب شده‌ها" class="btn btn-danger" />
    </form>
  </div>
</div>
<!-- end -->
{% endblock %}

{% block script %}
{% endblock %}