{% extends "layout.html" %}

{% block title %}
خرید بلیت
{% endblock %}

{% load staticfiles %}
{% load farsinum %}

{% block style %}
<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
{% endblock %}

{% block content %}
<div class="panel panel-default" style="background-color: #F2F6F7">
  <div class="panel-body">
    <!-- start of buy-ticket -->
    <div class="row-ticket form-group">
      <div class="col-md-12">

        <ul class="nav nav-pills nav-justified thumbnail setup-panel" style="padding: 4px;">

          <li class="disabled" style="float: none;" tabindex="-1">
            <a href="#step-1" tabindex="-1">
              <span class="badge" style="margin: 3px; position: relative; top: -1px;">گام ۱</span>
              <span class="list-group-item-heading">
               انتخاب بلیت
             </span>

           </a>
         </li>

         <li class="active" style="float: none;" tabindex="-1">
          <a href="#step-2" tabindex="-1">
            <span class="badge" style="margin: 3px; position: relative; top: -1px;">گام ۲</span>
            <span class="list-group-item-heading">
              مرور خرید
            </span>
          </a>
        </li>

        <li class="disabled" style="float: none;" tabindex="-1">
          <a href="#step-3" tabindex="-1">
            <span class="badge" style="margin: 3px; position: relative; top: -1px;">گام ۳</span>
            <span class="list-group-item-heading">
              پرداخت
            </span>
          </a>
        </li>

      </ul>

    </div>
  </div>

   <div class="row-ticket setup-content" id="step-2">
    <div class="col-md-12">
      <div class="col-md-12 well" style="background-color: #F2F6F7">
        <h4 style="margin-top: 0px; margin-bottom: 20px">در صورتی که صورت‌حساب مورد تایید شماست، دکمه تایید را فشار دهید.</h4>

        <!-- START OF SOORAT HESAB -->
        <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
          <thead>
            
            <tr>
              <th>نوع بلیت</th>
              <th>محل برگزاری</th>
              <th>روز</th>
              <th>ساعت</th>
              <th>قیمت واحد</th>
              <th>تعداد</th>
            </tr>
          </thead>

          <tbody id="factorBody">
            <tr>
              <td>{{ ticket.ticket_type }}</td>
              <td>{{ ticket.event.event_place }}</td>
              <td>{{ ticket.event.event_date|date:"j M Y"|farsi_num }}</td>
              <td>{{ ticket.event.event_time|date:"H:i"|farsi_num }}</td>
              <td>{{ ticket.ticket_price|farsi_num }}</td>
              <td>{{ num|farsi_num }}</td>
            </tr>
            
            <tr>
              <td colspan="20" style="text-align: left">مبلغ کل : <span id="totalPrice">{{ total_price|farsi_num }}</span> تومان
              </td>
            </tr>
          </tbody>

        </table>
        <!-- END OF SOORAT HESAB -->
        <form class="form-horizontal center" method="GET" action="/events/{{ ticket.event.id }}/pay/">
          {% csrf_token %}
          <input type="hidden" value="{{ ticket.id }}" name="tid" />
          <input type="hidden" value="{{ num }}" name="n" />
          {% csrf_token %}
          <script>
            document.write('<a class="btn btn-default btn-md" href="' + document.referrer + '">ویرایش خرید</a>');
          </script>
          <button type="submit" class="btn btn-success btn-md">تایید</button>
        </form>
      </div>
    </div>
  </div>
  <!-- End of buy-ticket -->
</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static "scripts/pcustom.js" %}"></script>
{% endblock %}
