{% extends "layout.html" %}

{% block title %}
خرید بلیت
{% endblock %}

{% load staticfiles %}
{% load farsinum %}

{% block style %}
<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
{% endblock %}

{% block content %}
<div class="panel panel-default" style="background-color: #F2F6F7">
  <div class="panel-body">
    <!-- start of buy-ticket -->
    <div class="row form-group" style="background-color: transparent">
      <div class="col-md-12">

        <ul class="nav nav-pills nav-justified thumbnail setup-panel">

          <li class="disabled" style="float: none;" tabindex="-1">
            <a href="#step-1" tabindex="-1">
              <span class="badge" style="margin: 3px; position: relative; top: -1px;">گام ۱</span>
              <span class="list-group-item-heading">
               انتخاب بلیت
             </span>

           </a>
         </li>

         <li class="disabled" style="float: none;" tabindex="-1">
          <a href="#step-2" tabindex="-1">
            <span class="badge" style="margin: 3px; position: relative; top: -1px;">گام ۲</span>
            <span class="list-group-item-heading">
              مرور خرید
            </span>
          </a>
        </li>

        <li class="active" style="float: none;" tabindex="-1">
          <a href="#step-3" tabindex="-1">
            <span class="badge" style="margin: 3px; position: relative; top: -1px;">گام ۳</span>
            <span class="list-group-item-heading">
              پرداخت
            </span>
          </a>
        </li>

      </ul>

    </div>
  </div>

  <div class="row setup-content" id="step-3" style="background-color: transparent">
    <div class="col-md-12">
      <div class="col-md-12 well text-center" style="background-color: #F2F6F7">
        <!-- <h1 class="text-center">گام سوم</h1> -->
        {% if not paid %}
        <form method="POST" class="form-horizontal" action="/events/{{ event_id }}/pay/">
        {% csrf_token %}
          <div class="form-group">
            <div class="col-md-4" style="padding: 0; width: 100px"><label style="margin: 8px; width: 100px; height: 21px">شماره کارت</label></div>
            <div class="col-md-2" style="padding: 3px; width: 80px; height: 30px">{{ payment_form.card_number_1 }}</div>
            <div class="col-md-2" style="padding: 3px; width: 80px; height: 30px">{{ payment_form.card_number_2 }}</div>
            <div class="col-md-2" style="padding: 3px; width: 80px; height: 30px">{{ payment_form.card_number_3 }}</div>
            <div class="col-md-2" style="padding: 3px; width: 80px; height: 30px">{{ payment_form.card_number_4 }}</div>
          </div>

          <div class="form-group">
            <div class="col-md-4" style="padding: 0; width: 100px"><label style="margin: 8px; width: 100px; height: 21px">CVV2</label></div>
            <div class="col-md-2" style="padding: 0">{{ payment_form.cvv2 }}</div>
            <div class="col-md-6" style="padding: 0"> </div>
          </div>

          <div class="form-group">
            <div class="col-md-4" style="padding: 0; width: 100px"><label style="margin: 8px">رمز اینترنتی</label></div>
            <div class="col-md-2" style="padding: 0">{{ payment_form.password }}</div>
          </div>

          <div class="form-group">
            <script>
              document.write('<a class="btn btn-default btn-md col-md-3 col-md-offset-1" style="margin-left: 5px" href="' + document.referrer + '">ویرایش خرید</a>');
            </script>
            <button type="submit" class="btn btn-success btn-md col-md-6" role="button">پرداخت<span id="acceptedTotalPrice" class="badge" style="margin-right: 6px;">{{ total_price|farsi_num }}</span> تومان </button>
          </div>

          <input type="hidden" name="ticket_id" value="{{ ticket_id }}" />
          <input type="hidden" name="event_id" value="{{ event_id }}" />
          <input type="hidden" name="num" value="{{ num }}" />

        </form>
        {% else %}
        <p class="text-success">با موفقیت پرداخت شد.</p>

        <h3>کد رهگیری خرید شما: <span>{{ order.purchase_code }}</span></h3>
        <hr />

        <!-- START OF SOORAT HESAB -->
        <div class="row" style="background-color: transparent">
        <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
          <thead>
            
            <tr>
              <th>عنوام رویداد</th>
              <th>نوع بلیت</th>
              <th>محل برگزاری</th>
              <th>روز</th>
              <th>ساعت</th>
              <th>قیمت واحد</th>
              <th>تعداد</th>
              <th>زمان خرید</th>
              <th>شماره صندلی‌ها</th>
            </tr>
          </thead>

          <tbody id="factorBody">
            <tr>
              <td>{{ order.event.event_title }}</td>
              <td>{{ order.ticket.ticket_type }}</td>
              <td>{{ order.ticket.event.event_place }}</td>
              <td>{{ order.ticket.event.event_date }}</td>
              <td>{{ order.ticket.event.event_time|farsi_num }}</td>
              <td>{{ order.ticket.ticket_price }}</td>
              <td>{{ order.num_purchased }}</td>
              <td>{{ order.order_date }}</td>
              <td>/{% for chair in chairs %}{{ chair }}/{% endfor %}</td>
            </tr>
            
            <tr>
              <td colspan="20" style="text-align: left">مبلغ کل : <span id="totalPrice">{{ order.total_price }}</span> تومان
              </td>
            </tr>
          </tbody>

        </table>
        <!-- END OF SOORAT HESAB -->
        </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End of buy-ticket -->
</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static "scripts/pcustom.js" %}"></script>
{% endblock %}
