{% extends "layout.html" %}
{% load static %}

{% block title %}
	درباره ما
{% endblock %}

{% block content %}
	<div style="background-color: #2c3e50; padding: 7px; border-radius: 4px;">
		<div class="well" style="margin: 0px;">
			<h2 style="text-align: center;">گیشه چگونه شروع شد؟</h2>
			<br />
			گیشه در زمستان سال ۱۳۹۳ به عنوان پروژه درس تحلیل و طرّاحی سیستم‌ها در دانشکده مهندسی کامپیوتر دانشگاه صنعتی شریف معرّفی شد و بنا شد در گروه های ۳ نفره توسّط دانشجویان این درس انجام شود. تحلیل، طرّاحی و پیاده‌سازی این نمونه از این پروژه که توسّط گروه میپ انجام شده است، در تابستان ۱۳۹۴ به پایان رسید و گیشه پس از آن وارد مرحله‌ی بهبود و نگهداری شد.
		</div>
	</div>
{% endblock %}