{% extends "layout.html" %}
{% load static %}

{% block title %}
	گیشه
{% endblock %}

{% block content %}
	<div id="main">
		<div class="carousel">
			<div>
				<img src="{% static "images/img1.jpg" %}" />
				<h3 style="color: #ffffff;">فیلم سینمایی نهنگ عنبر</h3>
			</div>
			<div>
				<img src="{% static "images/img2.jpg" %}" />
				<h3 style="color: #ffffff;">نمایش هامون بازها</h3>
			</div>
			<div>
				<img src="{% static "images/img3.jpg" %}" />
				<h3 style="color: #ffffff;">نمایشگاه نقّاشی پاولیون</h3>
			</div>
			<div>
				<img src="{% static "images/img4.jpg" %}" />
				<h3 style="color: #ffffff;">مسابقه والیبال: ایران - آمریکا</h3>
			</div>
			<div>
				<img src="{% static "images/img5.jpg" %}" />
				<h3 style="color: #ffffff;">دوئت فلوت و گيتار ( فيروزه نوايي، ليلي افشار )</h3>
			</div>
		</div>
	</div>
{% endblock %}