{% extends "layout.html" %}
{% load static %}

{% block title %}
	جست و جو
{% endblock %}

{% block content %}
	<div style="background-color: #2c3e50; padding: 7px; border-radius: 4px;">
		<div class="well" style="margin: 0px;">
                <h2 style="text-align: center;">به صفحه‌ی جست و جو خوش آمدید!</h2>
			    <br />
			    لطفا عبارت مورد جست و جو را وارد کنید.
		</div>
    <form action="/search/" method="get">
        <span style="color:white">رویداد مورد جست و جو : </span><input style="width: 439px;" type="text" name="q" required="True" id="
        name" onblur="if (this.value == '') {this.value = 'رویداد مورد جست و جو';}"
 onfocus="if (this.value == 'رویداد مورد جست و جو') {this.value = '';}" />
        <span style="color:white">تاریخ شروع :</span> <input style="width: 514px;" type="date" id="satrtDate" name="startDate" onblur="if (this.value == '') {this.value = 'تاریخ شروع';}"
 onfocus="if (this.value == 'تاریخ شروع') {this.value = '';}" />
        <span style="color: white;">تاریخ پایان :</span> <input style="width: 519px;" type="date" id="endDate" name="endDate" onblur="if (this.value == '') {this.value = 'تاریخ پایان';}"
 onfocus="if (this.value == 'تاریخ پایان') {this.value = '';}" />
        <input type="submit" value="بگرد">
    </form>
	</div>
{% endblock %}
