{% extends "layout.html" %}

{% block title %}
تئاتر (موزیکال)
{% endblock %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
<style type="text/css">
.row-event {
  background-color: white;
}
</style>
{% endblock %}

{% block content %}
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- start of view-category-event -->
          <div class="row-event">
            <div class="col-md-12">

              <h2 style="margin-top: 0px; margin-bottom: 20px">مشاهده همه‌ی تئاتر‌های موزیکال</h2>

              <div class="col-md-4 text-center center-block">
                <a class="thumbnail" href="/events/1/"><!-- link to event-detail page -->
                  <img class="img-responsive img-thumbnail" src="http://placehold.it/150x200" style="margin-top: 10px" />
                  <h5 class="text-primary">عنوان اصلی رویداد</h5>
                  <h6 class="text-primary">مهلت خرید: یک زمان نوشته</h6>
                  <h5><span class="text-success">موجود</span>|<span class="text-danger">ناموجود</span></h5>
                </a>
              </div>

              <div class="col-md-4 text-center center-block">
                <a class="thumbnail" href="/events/1/"><!-- link to event-detail page -->
                  <img class="img-responsive img-thumbnail" src="http://placehold.it/150x200" style="margin-top: 10px" />
                  <h5 class="text-primary">عنوان اصلی رویداد</h5>
                  <h6 class="text-primary">مهلت خرید: یک زمان نوشته</h6>
                  <h5><span class="text-success">موجود</span>|<span class="text-danger">ناموجود</span></h5>
                </a>
              </div>

              <div class="col-md-4 text-center center-block">
                <a class="thumbnail" href="/events/1/"><!-- link to event-detail page -->
                  <img class="img-responsive img-thumbnail" src="http://placehold.it/150x200" style="margin-top: 10px" />
                  <h5 class="text-primary">عنوان اصلی رویداد</h5>
                  <h6 class="text-primary">مهلت خرید: یک زمان نوشته</h6>
                  <h5><span class="text-success">موجود</span>|<span class="text-danger">ناموجود</span></h5>
                </a>
              </div>

              <div class="col-md-4 text-center center-block">
                <a class="thumbnail" href="/events/1/"><!-- link to event-detail page -->
                  <img class="img-responsive img-thumbnail" src="http://placehold.it/150x200" style="margin-top: 10px"  />
                  <h5 class="text-primary">عنوان اصلی رویداد</h5>
                  <h6 class="text-primary">مهلت خرید: یک زمان نوشته</h6>
                  <h5><span class="text-success">موجود</span>|<span class="text-danger">ناموجود</span></h5>
                </a>
              </div>

            </div>
          </div>
          <!-- end of view-category-event -->
        </div>
      </div> <!-- End of middle part -->
{% endblock %}