{% extends "layout.html" %}

{% block title %}
تئاترها (موزیکال)
{% endblock %}

{% load staticfiles %}
{% load farsinum %}

{% block style %}
<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
<style type="text/css">
.row-event {
  background-color: white;
}
</style>
{% endblock %}

{% block content %}
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- start of view-category-event -->
          <div class="row-event">
            <div class="col-md-12">

              <h3 style="margin-top: 0px; margin-bottom: 20px">مشاهده همه‌ی رویداد‌های دسته‌ی {{ category }}</h3>

              {% if events %}
              {% for event in events %}
              <div class="col-md-4 text-center center-block">
                <a class="thumbnail" href="/events/{{ event.event.id }}/" style="text-decoration: none">
                  <img class="img-responsive img-thumbnail" src="{{ event.event.event_image.url }}" style="width: 200px; height: 200px" />

                  <h5 class="text-primary">{{ event.event.event_title }}</h5>
                  
                  <h6 class="text-primary"><strong>مهلت خرید:</strong> {{ event.event.event_deadline_date|date:"j M Y"|farsi_num }}<br/>ساعت {{ event.event.event_deadline_time|date:"H:i"|farsi_num }}</h6>
                  
                  <h5>{% if event.ticket_available %}<span class="text-success">موجود</span>{% else %}<span class="text-danger">ناموجود</span>{% endif %}</h5>
                </a>
              </div>
              {% endfor %}
              {% else %}
              <p>هیچ رویدادی برای نمایش وجود ندارد.</p>
              {% endif %}
              
            </div>
          </div>
          <!-- end of view-category-event -->
        </div>
      </div> <!-- End of middle part -->
{% endblock %}