{% extends "layout.html" %}

{% block title %}
مشاهده رسید پرداخت
{% endblock %}

{% load staticfiles %}
{% load farsinum %}

{% block style %}
<link rel="stylesheet" href="{% static "styles/pcustom.css" %}" />
<style type="text/css">
  .row-receipt {
    background-color: white;
  }
</style>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading hidden-print">
    <h2>مشاهده‌ی رسید</h2>
  </div>

  <div class="panel-body">
    <div class="row" style="background-color: transparent">
      <div class="col-md-10 col-md-offset-1">
        <h3>کد رهگیری شما: <span>{{ order.purchase_code|farsi_num }}</span></h3>
      </div>        
    </div>

    <!-- START OF SOORAT HESAB -->
    <div class="row" style="background-color: transparent">
    <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover table-responsive">
          <tr>
            <th>عنوان رویداد</th>
            <td>{{ order.event.event_title }}</td>
          </tr>
          
          <tr>
            <th>نوع بلیت</th>
            <td>{{ order.ticket.ticket_type }}</td>
          </tr>

          <tr>
            <th>محل برگزاری</th>
            <td>{{ order.ticket.event.event_place }}</td>
          </tr>
          
          <tr>
            <th>روز</th>
            <td>{{ order.ticket.event.event_date }}</td>
          </tr>

          <tr>
            <th>ساعت</th>
            <td>{{ order.ticket.event.event_time|farsi_num }}</td>
          </tr>

          <tr>
            <th>قیمت واحد</th>
            <td>{{ order.ticket.ticket_price|farsi_num }}</td>
          </tr>

          <tr>
            <th>تعداد</th>
            <td>{{ order.num_purchased|farsi_num }}</td>
          </tr>

          <tr>
            <th>زمان خرید</th>
            <td>{{ order.order_date }}</td>
          </tr>

          <tr>
            <th>شماره صندلی‌ها</th>
            <td>/{% for chair in chairs %}{{ chair|farsi_num }}/{% endfor %}</td>
          </tr>

        <tr>
          <td colspan="20" style="text-align: left; font-size: 25px">بهای پرداخت شده: <span id="totalPrice">{{ order.total_price|farsi_num }}</span> تومان
          </td>
        </tr>

    </table>
    <!-- END OF SOORAT HESAB -->
    </div>
    </div>

    <a href="javascript:window.print()" class="btn btn-primary btn-lg hidden-print center"><span style="margin-top: 3px" class="glyphicon glyphicon-print"></span> چاپ رسید</a>

  </div> <!-- end of panel-body -->
</div> <!-- end of panel panel-default -->
{% endblock %}

{% block script %}
<script type="text/javascript">
  $('#printButton').on('click', function(e) {
    e.preventDefault();
    window.print();
  });
</script>
{% endblock %}